<h1 class="subtitle">All Contacts</h1>

<ul>
  <% $rolodex.contacts.each do |contact| %>
    <li class="bullet"><p class="text"><%= contact.first_name %> <%= contact.last_name %> <p></li>
  <% end %>
</ul>



