<h1 class="subtitle">Create New Contact</h1>

<form action="/contacts" method="post">
  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="text" name="email">
  <input type="text" name="note">
  <input type="submit" name="Submit">
</form>

<br>
<br>
<br>
<br>

<ul class="list">	
	<li class="bullet"> <a class="link" href='/'> Back To Main Menu</a> 
	</li>
				
	<li class="bullet"> <a class="link" href ='/contacts'> Display All Contacts</a>
	</li>
		
</ul>



