<h1 class="subtitle"><%= @contact.first_name %> <%= @contact.last_name %></h1>
/br
/br
/br
/br

<p class="text"><strong>Email:</strong> <%= @contact.email %></p>
/br
<p class="text"><strong>Note:</strong> <%= @contact.note %></p>